.tableplan {
    margin-top: 0px;
    margin-left: 40%;
    align-items: center;
    text-align: center;
    background-color:  #004ED6;
}

footer {
    width: 100%;
    background-color: #004ED6;
    margin-top: 30px;
    text-align: center;
    padding: 5px;
}

.titol {
    margin-left: 42%;
}