.tableres {
    margin-top: 5%;
    margin-left: 40%;
    align-items: center;
    text-align: center;
    background-color:  #004ED6;
}

footer {
    width: 100%;
    background-color: #004ED6;
    margin-top: 259px;
    text-align: center;
    padding-top: 5px;
}
